[submodule "planar_graph_playground"]
	path = planar_graph_playground
	url = https://github.com/Hermann-SW/planar_graph_playground
[submodule "javascript-sphere"]
	path = javascript-sphere
	url = https://github.com/Hermann-SW/javascript-sphere
[submodule "cuboid_shortest_paths"]
	path = cuboid_shortest_paths
	url = git@github.com:Hermann-SW/cuboid_shortest_paths.git
[submodule "RSA_numbers_factored"]
	path = RSA_numbers_factored
	url = git@github.com:Hermann-SW/RSA_numbers_factored.git
